@media only screen and (max-width: 768px) {

    html,
    body {
        overflow-x: hidden;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .lighting-blur {
        display: none;
    }

    /* CONTACT TAB */
    .contacts-content {
        flex-direction: column;
        width: 50%;
        height: 85%;
        gap: 20px;
    }



    /* MAIN */
    /* HOME PAGE */
    .home-text-content h1 {
        font-size: 4rem;
    }

    .home-text-content p {
        font-size: 10pt;
    }


    .home-text-content p span {
        font-size: 1em;
        font-family: "Lato", sans-serif;
        font-weight: 800;
        color: var(--highlighted-elements-dark);
    }

    /* SOBRE MIM PAGE */
    .title-about {
        font-size: 1.5rem;
    }

    .title-about h1 i {
        font-size: 25pt;
    }

    .content-about h4 {
        font-size: 1rem;
    }


    .content-about p {
        line-height: 2;
        font-size: 0.8em;
    }

    .info-box-bh p,
    .info-box-ctrlplay p,
    .info-box-cambridge p {
        line-height: 1.2;
    }


    /* HABILIDADES */
    .title-skills h1 {
        font-size: 48px;
    }

    .skills-header p {
        font-size: 1em;
    }

    .skills nav ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }

    .coding-skills {
        width: 35%;
    }


    /* PROJETOS PAGE */
    .projects-header h1 {
        font-size: 48px;
    }

    .projects-header div i {
        font-size: 1em;
    }


    .projects-list nav ul {
        flex-wrap: wrap;
    }

    .projetos {
        width: 60%;
    }

    .coding-skills {
        width: 40%;
    }


}

@media only screen and (max-width: 487px) {


    /* HEADER */
    .page-links-ul {
        display: none;
    }


    /* CONTACT TAB */
    .contacts-content {
        width: 80%;
    }

    .title-contacts {
        width: 100%;
    }

    /* MAIN */
    /* HOME PAGE */
    .home-content {
        flex-direction: column-reverse;
        gap: 20px;
        margin-top: 100px;
    }

    .home-text {
        margin-top: 0px;
        margin-bottom: 30px;
    }


    .img-pfp {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .img-pfp img {
        border-radius: 10% 10% 40% 40%;
        width: 100%;
        border: 1px solid #8e8e9362;
        box-shadow: 0em 0.2em 0.7em #8e8e9331;
    }

    .scroll-svg {
        font-size: 1.3em;
    }

    /* SOBRE MIM */
    .sobre-page {
        flex-direction: column;
    }

    .about-div {
        width: 100%;
    }

    .title-about {
        border: none;
    }

    .title-about h1 {
        border-bottom: 8px solid var(--highlighted-elements-dark);
    }

    /* TECNOLOGIAS PAGE */

    .coding-skills {
        width: 60%;
    }

    /* PROJETO PAGE */

    .projetos {
        width: 80%;
    }


}

@media only screen and (max-width: 320px) {
    main {
        display: flex;
        flex-direction: column;
        gap: 70px;
    }

    .home-content {
        margin-top: 60px;
    }

    /* PROJETOS PAGE */
    .projects-header div {
        justify-content: center;
    }

    .projects-header,
    .projects-header h1,
    .projects-header div {
        margin: 0px;
        width: 100%;
    }

    .projects-header {
        flex-direction: column;
        text-align: center;
        margin-bottom: 20px;
    }
}